<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Expense Tracker Web App</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <div class="container my-3">
        <h1> Expense Tracker Web App </h1>
        <hr>
        <h2> Save Expense </h2>

        <form action="#" th:action="@{saveExpense}" th:object = "${expense}" method="POST">

            <input type="text" th:field = "*{amount}"
                   placeholder="amount" class="form-control mb-3">

            <input type="text" th:field = "*{expenseDate}"
                   placeholder="Expense Date" class="form-control mb-3">

            <input type="text" th:field = "*{userId}"
                   placeholder="User Id" class="form-control mb-3">

            <input type="text" th:field = "*{categoryName}"
                   placeholder="Expense Category" class="form-control mb-3">

            <button type="submit" class="btn btn-primary col-3"> Save Expense
            </button>
        </form>
    </div>
</body>
</html>