<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker Web App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body class="text-center">

<div class="container mt-5">
    <h1>User Page</h1>

    <div class="row mt-4">
        <div class="col-md-12 mb-3">
            <a th:href="@{/user/{id}/update/(id=${userInfo.id})}"
               class="btn btn-primary btn-lg btn-block">Update user info</a>
        </div>
        <div class="col-md-12 mb-3">
            <a th:href="@{/user/{id}/newExpenseForm/(id=${userInfo.id})}"
               class="btn btn-primary btn-lg btn-block">Add New Expense</a>
        </div>
        <div class="col-md-12 mb-3">
            <a th:href="@{/user/{id}/expenseList/(id=${userInfo.id})}"
               class="btn btn-success btn-lg btn-block">Show All Expenses</a>
        </div>
        <div class="col-md-12">
            <a th:href="@{/user/{id}/expenseByCategory/(id=${userInfo.id})}"
               class="btn btn-info btn-lg btn-block">View Category-wise Expense</a>
        </div>
    </div>

</div>

</body>
</html>
